html{
    font-size: 22px;
}
body{
    background-color: var(--main-color);
    background-image: linear-gradient(pink,red);
    color: var(--text-color);
    font-family: var(--font-family);
    line-height: 1.5;
    margin: 0;
    padding: 2rem;
}

a{ 
    text-decoration: none;
     color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

a:hover,
a:active {
    color: var(--link-hover-color);
}
table,tr,th,td{
    border: 1px solid white;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 10px;
}

.one{
   color: var(--accent-color);
}

.two{
    width: 100%;
}

.two{
    color: var(--secondary-color);
    background-color: var(--main-color);
    
}

.two:hover{
    color: var(--main-color);
    background-color: var(--accent-color);
    /* transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out; */
    transition: all 0.3s 0.1s ease-in-out;
}

.nav{
    background-color: var(--main-color);
    border-radius: .5rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    gap :2rem;
    place-content: center;
    list-style-type: none;
    text-align: center;
    margin-inline: 2rem;
}

:root{
    --font-family: Arial, sans-serif;
    --main-color: #333;
    --secondary-color: #1c40b4;
    --accent-color: #f0f0f0;
    --text-color: whitesmoke;
    --link-color: aliceblue;
    --link-hover-color: #eee;
}

h1{
    /* animation-name: slideIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 5;
    animation-fill-mode: forwards;
    animation-direction: alternate; */
    animation: slideIn 2s 1s ease-in-out 5 alternate forwards;
    
    
}
@keyframes slideIn{
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0);
    }
}       
    